<a href="https://colab.research.google.com/github/rlfwo93/machine-learning/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **(Pandas) 판다스란 ?**
-  Pandas는 python 파이썬 외부 공학용 라이브러리

-  andas는 파이썬에서 사용하는 데이터분석 라이브러리로, 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구

-  데이터를 표 형태의 데이터프레임에 넣어서 쉽게 이용할 수 있게 해주는데, 쉽게 말해서 파이썬의 엑셀

In [23]:
import pandas as pd #판다스 모듈
import numpy as np  # 넘파이 모듈
import matplotlib.pyplot as plt #플롯립 모듈
%matplotlib inline

# **Series**
-  1차원 데이터 
-  엑셀형식으로 왼쪽에는 인덱스숫자가 나오고 오른쪽엔 입력한 값이 나옴.
-  1차원 배열로 데이터를 담고있음.

In [24]:
s = pd.Series([1,3,5,np.nan,6,8],index=["a","b","c","d","e","f"] )
s
# 엑셀형식으로 왼쪽에는 인덱스숫자가 나오고 오른쪽엔 입력한 값이 나옴.
#Series에 값을 넣을땐 배열 형식으로 넣음.
# 입력하는값에 float형이 하나라도 있으면 값 전체를 float형으로 출력.
#인덱스 항목을 넣어서 인덱스를 설정 할 수 있음.

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [25]:
obj = pd.Series([4, 7, -5, 3])
obj

#입력값이 전부 int형이기때문에 모든값이 int형로 출력되며 데이터 타입이 int

0    4
1    7
2   -5
3    3
dtype: int64

# date_range 
-  시계열 데이터 설정
-  freq 값을 s,d,m 등을 넣어서 원하는 시간데이터를 출력할 수 있음.

In [26]:
dates = pd.date_range("20201115",periods=6) 
#periods 는 몇개의 값을 출력할지 설정.
#입력한 값부터 perods로 설정한 값만큼 날짜가 증가하여 출력.
#freq가 디폴트 값으로 D로 설정되어서 일별로 증가하여 출력됨.
dates

DatetimeIndex(['2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20'],
              dtype='datetime64[ns]', freq='D')

In [27]:
dates1 = pd.date_range(start = "20190101", end = "20190201")
dates1
#start값과 end 값을 주어서 명시적으로 출력.

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01'],
              dtype='datetime64[ns]', freq='D')

In [28]:
dates2 = pd.date_range("20190101",periods=10,freq="s")
dates2
# freq값을 s로 입력하여 초단위로 출력

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:00:01',
               '2019-01-01 00:00:02', '2019-01-01 00:00:03',
               '2019-01-01 00:00:04', '2019-01-01 00:00:05',
               '2019-01-01 00:00:06', '2019-01-01 00:00:07',
               '2019-01-01 00:00:08', '2019-01-01 00:00:09'],
              dtype='datetime64[ns]', freq='S')


# **데이터프레임 (DataFrame)**
-  2차원 데이터
-  다차원 데이터 
-  2차원 행렬 데이터를 담고 있음.

In [34]:
dfc = pd.DataFrame(np.random.randn(6,4),index =dates, columns= ("a","b","c","d"))
dfc 

#맨첫번째 입력한 값은 실제출력되는 값.
#index 인덱스 값을 설정.
# columns는 위에 항목의 값을 설정.

                   a         b         c         d
2020-11-15 -1.429532  0.704498 -0.775910  1.832853
2020-11-16  0.303157  1.945200  1.332763  1.646133
2020-11-17 -1.002994 -0.162401  0.325145 -0.422124
2020-11-18 -1.756460  0.326030 -0.200299  0.594406
2020-11-19 -1.143279  0.786816 -0.551329  1.293180
2020-11-20  0.059044 -0.461339  0.363907 -1.734116

In [30]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo