<a href="https://colab.research.google.com/github/rlfwo93/machine-learning/blob/master/pratice_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #판다스 모듈
import numpy as np  # 넘파이 모듈
import matplotlib.pyplot as plt #플롯립 모듈
%matplotlib inline

In [ ]:
s = pd.Series([10,3,5,2,6,8])
s

0    10
1     3
2     5
3     2
4     6
5     8
dtype: int64

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
a = pd.date_range("20200102",periods=10)
a

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05',
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-11'],
              dtype='datetime64[ns]', freq='D')

In [2]:
dates = pd.date_range("20200101",periods =4)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04'], dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame([(4,9,3,1),(5,2,3,7),(3,6,4,1),(1,5,4,3)],index =dates, columns= ("a","b","c","d"))
df

TypeError: ignored

In [12]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                  })
df2

TypeError: ignored

In [11]:
df3 = pd.DataFrame({
    "a" : pd.date_range("20200101", periods = 5),
    "b" : pd.Series([1,2,3,4,5]),
    "c" : np.random.randn(5),
   "index" : (1.0,2.0,3.0,4.0,5.0)
})
df3

TypeError: ignored

In [ ]:
di = {"name" : ["pa","jke","que"],
      "age" : [22, 24, 25]}

de = pd.DataFrame(di,index= ("1","2","3"))
de

  name  age
1   pa   22
2  jke   24
3  que   25

In [ ]:
df4 = pd.Dataframe(
    "a" = pd.date_range("20201010", periods = 5)
    ""
)
df4

SyntaxError: ignored

In [ ]:
s=pd.Series(1, index=list(range(6)), dtype='int64')
s

0    1
1    1
2    1
3    1
4    1
5    1
dtype: int64

In [ ]:
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
obj3

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64

In [ ]:
obj3.name = "jinseok"
obj3.index.name = "Name"
obj3

Name
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: jinseok, dtype: int64

In [ ]:
df,df.sort_index(axis=0, ascending=False)

(            a  b  c  d
 2020-01-01  4  2  3  1
 2020-01-02  1  2  3  4
 2020-01-03  3  2  4  1
 2020-01-04  1  2  4  3,             a  b  c  d
 2020-01-04  1  2  4  3
 2020-01-03  3  2  4  1
 2020-01-02  1  2  3  4
 2020-01-01  4  2  3  1)

In [ ]:
df.sort_index(axis=0, ascending=False)

            a  b  c  d
2020-01-04  1  2  4  3
2020-01-03  3  2  4  1
2020-01-02  1  2  3  4
2020-01-01  4  2  3  1

In [ ]:
df

            a  b  c  d
2020-01-01  4  9  3  1
2020-01-02  5  2  3  7
2020-01-03  3  6  4  1
2020-01-04  1  5  4  3

In [ ]:
df.sort_values(by= ["a","b"])

            a  b  c  d
2020-01-04  1  5  4  3
2020-01-03  3  6  4  1
2020-01-01  4  9  3  1
2020-01-02  5  2  3  7

In [ ]:
df['b']

2020-01-01    9
2020-01-02    2
2020-01-03    6
2020-01-04    5
Freq: D, Name: b, dtype: int64

In [ ]:
df.loc["20200101":"20200103",['a','b']]

            a  b
2020-01-01  4  9
2020-01-02  5  2
2020-01-03  3  6

In [ ]:
df.loc["20200102":"20200103",["a","b"]]

            a  b
2020-01-02  5  2
2020-01-03  3  6

In [ ]:
df.loc["20200101","a"]

4

In [ ]:
df

            a  b  c  d
2020-01-01  4  9  3  1
2020-01-02  5  2  3  7
2020-01-03  3  6  4  1
2020-01-04  1  5  4  3

In [ ]:
df.iloc[0:1,1:2]

            b
2020-01-01  9

In [ ]:
df.iloc[:2,2:4]

            c  d
2020-01-01  3  1
2020-01-02  3  7

In [ ]:
df.iloc[1,1]

2

In [ ]:
df[df.a > 0]

            a  b  c  d
2020-01-01  4  9  3  1
2020-01-02  5  2  3  7
2020-01-03  3  6  4  1
2020-01-04  1  5  4  3

In [ ]:
df[df>0]

            a  b  c  d
2020-01-01  4  9  3  1
2020-01-02  5  2  3  7
2020-01-03  3  6  4  1
2020-01-04  1  5  4  3